@using ElChein.Model
@model ClothingViewModel

<style>

    .card-img-top {
        height: 500px; /* Ajusta la altura deseada /*/
        object-fit: cover; /* Ajusta el modo de ajuste de la imagen */
    }
</style>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var item in Model.Shirts)
            {
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="@item.Image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">$@item.Price</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>